*{
  max-width: 100;
}
body{
  background-color: bisque;
  display: flex;
  max-width: 75vw;
  margin-right: 2%;

}
.container{
  max-width: 100;
  /* position: absolute; */
  display: grid;
  grid-gap: 3rem;
  grid-template-columns: 40%, 40%;
  grid-template-rows: 25%, 5%, 25%, 5%, 25%;
  justify-content: space-around;
}
#p1{
  font-size: 3.5em;
  grid-area: 2 / 1;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
#p2{
  font-size: 3.5em;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
#p3{
  font-size: 3.5em;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
#p4{
  font-size: 3.5em;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
#p5{
  font-size: 3.5em;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
button {
  display: inline-block;
  width: 20%;
  margin-top: 1em;
  margin-left: 30%;
  background: rgba(116, 231, 121, 0.575);
  color: white;
}
button:hover {
  border-right: 2px solid black;
}
showButton{
  color: white;
}