<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../static/css/portfolio.css">
  <title>Portfolio</title>
</head>
<body>
  <h1>
A sample of my photos
  </h1>
 <div id="slider">
<figure>
<img src="../static/img/canyon.jpg" alt>
<img src="../static/img/car.jpg" alt>
<img src="../static/img/fair.jpg" alt>
<img src="../static/img/katie.jpg" alt>
<img src="../static/img/plane.jpg" alt>
</figure>
</div>

  <footer class="footer">
      <p>Follow me on these social media links</p>
      <div class="social-icons">
      
      <a href="https://twitter.com/"><img class="social-icon" src="../static/img/twitter.jpg" alt="twitter link"></a>
      <a href="https://www.facebook.com/kevin.cobb.148"><img class="social-icon" src="../static/img/facebook.jpg" alt="facebook link"></a>
      <a href="https://www.linkedin.com/in/kevin-cobb-51b135165/"><img class="social-icon" src="../static/img/Linkedin.jpg" alt="linkedinlink"></a>
      <a href="https://www.instagram.com/bender953/"><img class="social-icon" src="../static/img/instagram.jpg" alt="instagram link"></a>
      <a href="https://github.com/KevinCobb"><img class="social-icon" src="../static/img/github.jpg" alt="github link"></a>
  </div>
      <small>&copy;2018</small>
      
  </footer>
</body>
</html>