<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../static/css/projects.css">
  <title>Projects</title>
</head>
<body>
  <div class="container">
  <p id="p1">This is the first project after week one. We learned the basics of Java which we used to create a Fortune Teller program that asks for several pieces of information to generate a fun fortune.</p>
    <img id="img1" src="../static/img/fortuneteller.png" alt="desk">
    <img id="img1" src="../static/img/virtualpet.png" alt="desk">
  <p id="p2">This is the second project after week two. We learned more of the basics of Java which we used to create a digi-pet &copy type program that allows the user to adopt a pet and take care of it.</p>
  <p id="p3">This is the third project after week three. We learned more advanced items of Java. This expanded on the previous weeks project expanding it to a shelter full of pets instead of one. With it you can take care fo several functions. </p>
    <img id="img1" src="../static/img/virtualpetshelter.png" alt="desk">
    <img id="img2" src="../static/img/virtualpetsamok.png" alt="desk">
  <p id="p4">This is the forth project after week four. We learned more advanced aspects of Java. This project also expands on the previous one by adding more functions and classes to care for both organic and robotic pets.</p>
  <p id="p5">This is the fifth project after week five. We now moved to front end training. This is the review site that was our first HTML design site.</p>
   <img id="img1" src="../static/img/reviewsite.png" alt="desk">
</div>
<footer>
<button id="showButton2"><a href="welcome.html">Home</a></button>
</footer>
<script src="../src/js/contact.js"></script>
</body>
</html>