
  .about_me {
    height: 100vw;
    display: inline-block;
    grid-template-columns: [port-start] minmax(6em, 1fr) [name-start] minmax(4em, 2fr) [image-end] 2fr [port-end];
    background-image: url(../img/skyline-2.jpg);
    margin-bottom: 2%;
    padding: 2%;
    background-blend-mode: lighten;
    background-repeat: no-repeat;
    background-size: 100vw;
 }

.about-img {
  float: left;
  border: 10px solid black;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
.about-title {
  grid-column: name / port;
  grid-row: 1 / 2;
  align-self: end;
  margin-bottom: 1%;
  display: flex;
}

.about_me h1 {
  font-size: 8rem;
  color: rgb(48, 59, 87);
  display: flex;
  max-height: 15%;
}

.about_me h2 {
  font-size: 5rem;
  font-stretch: normal;
	letter-spacing: 2px;
	color: rgb(226, 40, 40);
	line-height: 1;
  font-family: 'calibri', 'Arial Narrow', sans-serif;
  margin-left: 15px;
}

.about-subtitle {
  margin-top: .5em 0;
}

.about-text {
  display: flex;
  font-size: 2.25em;
  color: rgb(25, 26, 21);
  
  max-height: 10%;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
.about_me p {
  font-size: 2rem;
  color: rgb(77, 177, 235);
}

.text-also {
  color:  rgb(247, 171, 31);
}