.intro {
  display: flex;
  color: rgb(46, 45, 42);
  height: 100vh;
  padding: 1%;
}

.intro-middle h2 {
  color: white;
  font-size: 3rem;
}

.intro-middle {
  background: rgb(105, 90, 47);
  padding: 2em ;
  text-align: center;
  display: inline-block;
  flex-direction: column;
  justify-content: center;
  height: 90vh;
  border: 10px solid black;
  margin-right: 0;
  margin-left: 0;

}
.intro-left img {
  object-fit: cover;
  min-height: 80%;
  height: 100vh;
  max-width: 30%;
  display: flex;
  border: 20px solid black;
}
.intro-right img {
  object-fit: cover;
  min-height: 80%;
  max-width: 30%;
  display: flex;
  border: 20px solid black;
}

.intro p h2 {
  font-size: 2rem;
  color: black;
  max-height: 100vh;
}

.intro-middle p {
  justify-content: bottom;
}