.portfolio {
  text-align: center;
  background: rgb(158, 90, 90);
  padding: 5rem;
  
}

.porfolio-item {
  position: relative;
  overflow: hidden;
}

.porfolio-item figcaption {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 1em;
  background: black;
  color: white;
  text-align: left;
  display: flex;
  flex-direction: column; 
  justify-content: flex-end;
}
.porfolio-title {
  color: white;
  font-size: 3.625rem;
  align-self: flex-end;

}
.portfolio-desc {
  font-size: 1.7rem;
}

.portfolio p {
  color: black;
  font-size: 3rem;
}
.portfolio h2 {
  color: rgba(59, 5, 5, 0.993);
}