body {
	color: gray;
	font-family: Helvetica, Ariel, sans-serif;
	line-height: 1.6;
	background: whitesmoke;
	
}
.welcome h1, h2, p {
	margin-top: 0;
	margin-bottom: 1em;
}

.welcome h1 {
	color: rgba(61, 120, 196, 0.158);
	line-height: 4;
	font-size: 4.125rem;
	margin-right: 125px;
	max-height: 20%;
}

.welcome h1 > span {
	color:rgba(78, 150, 243, 0.486);
	font-family: Helvetica, Arial, sans-serif;
	display: flex;
	font-size: 5.5rem;
	letter-spacing: 10px;
	padding: 5%;
	margin-left: 50%

} 
.welcome h2 {
	font-size: 2rem;
	letter-spacing: 10px;
	color: darkgray;
	line-height: 1;
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

img {
	max-width: 100vh;
}

.welcome {
	background-image: url(../img/DSC_0132.jpg);
	background-size: cover;
	background-position: center;
	height: 100vh;
	display: right;
	align-items: center;
}
.welcome menu-button {
	position: right;
}

.welcome h1 {
	font-size: 3rem;
	color: rgb(72, 105, 196);
	text-align: right;
	display: block;
	line-height: 5rem;
	justify-content: center;
	margin-right: 10%;
	padding-top: 10%;
}

.welcome > h1 > span{
	font-size: 9rem;
	color: rgb(37, 58, 97);
}

.nav {
	display: flex;
	justify-content: center;
	height: 2rem;
}