.menu-button {
  top: 10em;
  left: 10em;
  background: transparent;
  border: 0;
  transition: transform ease-in-out 250ms;
  cursor: pointer;
}

nav {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 15%;
  z-index: 10;

  transform: translateX(-100%);
}
nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-around;
  align-items: strech;
  background-color: goldenrod; 
}

nav li {
  border-bottom: 1px solid dark-blue;
  text-align: center;
  }

  nav li:hover {
    background: darkorange;
  }
nav a {
  display: inline-block;
  font-family: sans-serif;
  text-decoration: none;
  font-size: 2rem;
  padding: calc(100vh/8) 3em;
  line-height: 0;
 
}
.nav-is-open {
  nav {
    transform: translateX(0);
  }

}